#!/sbin/openrc-run

command="/usr/local/nh-v2ray-panel/nh-v2ray-panel"
command_background=true
pidfile="/run/nh-v2ray-panel.pid"
description="nh-v2ray-panel Service"
procname="nh-v2ray-panel"
depend() {
    need net
}
start_pre(){
    cd /usr/local/nh-v2ray-panel
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}