body { background-color: #000 !important; color: #fff !important; }
.login-container { background: #000 !important; }
.card { border: none !important; box-shadow: none !important; }
button { background: #ffea00 !important; color: #000 !important; }
